.background-image {
  background-image: url('https://hd.unsplash.com/photo-1452798991096-382940996d40');
  background-position: right center;
  background-size: cover;
  height: 85vh;
}

h1 {
  padding-top: 70px;
  color: white;
  font-size: 50px;
  text-align: center;
}

label {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-success {
  margin-left: 10px;

}

header {
  margin-bottom: 0 !important;
}

.form-inline {
  /*position: fixed;
  top: 8px;
  right: 50px;
  z-index: 3000;*/
  text-align: center;
  margin-bottom: 10px;
}

.form-group {

}

iframe {
  width: 100%;
  height: 85vh;
}
