.background-image {
  background-image: url('https://hd.unsplash.com/photo-1452798991096-382940996d40');
  background-position: right center;
  background-size: cover;
  height: 100vh;
}

h1 {
  padding-top: 70px;
  color: white;
  font-size: 50px;
  text-align: center;
}

label {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.btn-success {
  margin-left: 10px;
}

.form-inline {

  text-align: center;
  margin-top: 8px;
}

.map {
  width: 100%;
}
